<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>关于我们</title>
<link rel="stylesheet" type="text/css" href="default/css/reset.css" />
<link rel="stylesheet" type="text/css" href="default/css/common.css" />
<link rel="stylesheet" type="text/css" href="default/css/heder_nav-menu.css"/>
<link rel="stylesheet" type="text/css" href="default/css/about.css" />


</head>

<body>


{{include 'default/public/header.html'}}

<div id="header_nav-wrapper">
    <div class="header_nav">
    	<h2>关于我们 About US <span>让品牌与您同在</span></h2>
    
    
    
    </div>



</div>

<div id="header_title-wrapper">

    <div class="header_title clear">
        <p >
        <a href="#">公司介绍</a>
        <a href="#">文化理念</a>
        <a href="#">组织架构</a>
        <a href="#" style="margin-right:20px;">发展历程</a>
        
        </p>
    </div>


</div>

<div id="main-wrapper">
    <div class="main_top">
       <a href="#"><img src="default/images/about/main_top-image.jpg" alt="&nbsp;"/></a>
        <dl>
            <dt>关于我们 About us</dt>
            <dd>我们始创于2009年，随着业务扩展，2013年我们联合合作伙伴共同 创建了南京电子商务有限公司，并重新塑造了某某互动品牌，正式开始了公司化运作。一路走来，我们历经风雨，但我们始终坚持。我们一直奉行用户至上原则，无论在视觉设计、代码开发还是产品运营，用户的体验始终是我们第一追求。从产品设计、开发到运营，团队聚集了互联网各领域的专家。除了提供核心的移动APP\WEB设计和开发服务外。我们还将品牌创意、宣传推广包括产品运营服务进行融合，为广大企事业客户提供 全方位一体化的解决方案。</dd>
  
        </dl>

    </div>
    <div class="main_center">
        <dl class="clear">
        <dt>企业使命 Enterprise Mission</dt>
        <dd><a href="#"><img src="default/images/about/main_center-image1.jpg" /><p>创作独一无二的设计</p></a></dd>
        <dd><a href="#"><img src="default/images/about/main_center-image2.jpg" /><p>创作独一无二的设计</p></a></dd>
        <dd style="margin-right:0;"><a href="#"><img src="default/images/about/main_center-image3.jpg" /><p>创作独一无二的设计</p></a></dd>
        
        
        
        </dl>

    </div>
    <div class=" main_bottom">
        <ul class="clear">
            <h2>我们的办公环境 Our Office Environment</h2> 
            <li><a href="#" ><img src="default/images/about/main_bottom-image1.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#"><img src="default/images/about/main_bottom-image2.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#" style=" margin-right:0;"><img src="default/images/about/main_bottom-image3.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#"><img src="default/images/about/main_bottom-image4.jpg" alt="&nbsp;"  /></a></li>
            <li><a href="#"><img src="default/images/about/main_bottom-image5.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#" style=" margin-right:0;"><img src="default/images/about/main_bottom-image6.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#" style=" margin-bottom:0;"><img src="default/images/about/main_bottom-image7.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#" style=" margin-bottom:0;"><img src="default/images/about/main_bottom-image8.jpg" alt="&nbsp;" /></a></li>
            <li><a href="#" style=" margin-right:0; margin-bottom:0;"><img src="default/images/about/main_bottom-image9.jpg" alt="&nbsp;" /></a></li>
        
        
        </ul>
        
    
    </div>
    
    
    
    
    
    
</div>



<div id="footer-wrapper">
            <div class="footer-inner">
                <p>
                    <a href="#">网站首页</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">关于我们</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">产品展示</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">客户案例</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">新闻资讯</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">帮助中心</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">解决方案</a>&nbsp;&nbsp;|&nbsp;
                    <a href="#">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <p>Copyright © 2002-2015上海机械设备服务有限公司 版权所有 Power by DedeCms</p>
                <p>电话：15918779820 E-mail：89898981@qq.com 地址：上海市沙河广园东路1858新天地服装城</p>
            </div>
</div>
        


</body>
</html>
