<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>成功案例</title>
	<title>heder_nav-menu</title>
	<link rel="stylesheet" type="text/css" href="default/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="default/css/common.css" />
	<link rel="stylesheet" type="text/css" href="default/css/heder_nav-menu.css" />
	<link rel="stylesheet" type="text/css" href="default/css/successful_case.css" />
</head>

<body>


	{{include 'default/public/header.html'}}

	<div id="header_nav-wrapper">
		<div class="header_nav">
			<h2>成功案例 &#160; <span>用心给客户书写出一次次满意的答卷，创造有价值的产品
					APP开发</span></h2>


		</div>



	</div>

	<div id="header_title-wrapper">

		<div class="header_title clear">
			<p>
				{{each catelist value index}}
				<a href="#">{{value.title}}</a>
				{{/each}}
				<!-- <a href="#">教育行业</a>
        <a href="#">房地产业</a>
        <a href="#" style="margin-right:20px;">能源行业</a> -->

			</p>
		</div>


	</div>


	<div id="main_wrapper">


		<div class="main">
			<ul class="clear">

				{{each articlelist value index}}

				<li>

					<a href="content/{{@value._id}}"><img src="{{value.img_url}}" /></a>

					<p>{{value.title}}</p>


				</li>

				{{/each}}


			</ul>


		</div>




	</div>



	<div id="footer-wrapper">
		<div class="footer-inner">
			<p>
				<a href="#">网站首页</a>&nbsp;&nbsp;|&nbsp;
				<a href="#">关于我们</a>&nbsp;&nbsp;|&nbsp;
				<a href="#">产品展示</a>&nbsp;&nbsp;|&nbsp;
				<a href="#">客户案例</a>&nbsp;&nbsp;|&nbsp;
				<a href="#">新闻资讯</a>&nbsp;&nbsp;|&nbsp;
				<a href="#">帮助中心</a>&nbsp;&nbsp;|&nbsp;
				<a href="#">解决方案</a>&nbsp;&nbsp;|&nbsp;
				<a href="#">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
			</p>
			<p>Copyright © 2002-2015上海机械设备服务有限公司 版权所有 Power by DedeCms</p>
			<p>电话：15918779820 E-mail：89898981@qq.com 地址：上海市沙河广园东路1858新天地服装城</p>
		</div>
	</div>





</body>

</html>