@charset "utf-8";
/* CSS Document */

#main_wrapper{ background:#fff;}
.main{ width:1140px; margin:0 auto; padding:60px 0 102px 0; }
.main li { 
	
	float:left;	
   
    width: 350px;
    height: 256px;
    margin-right: 30px;
    margin-bottom: 30px;


}

.main li p{
	
	line-height: 2;
	width: 100%;
	
	padding: 5px 0px;
	display: block;
	font-size: 12px;
}

.main li img{ display:block; width:360px; height:256px;}


.concent{
	padding: 10px;
	width: 1140px;
	line-height: 2;
	margin: 0 auto;
}

.concent .title{
	text-align: center;
}

