



{{include 'admin/public/header.html'}}


	<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

				<!-- nav-top -->
				{{include 'admin/public/nav_top.html'}}
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<!-- 左侧导航 -->
				{{include 'admin/public/nav_left.html'}}


				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="active">控制台</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">

						<div class="page-header">
							<h1>
								列表								
							</h1>
						</div><!-- /.page-header -->

					<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">标题名称:</label>

								<div class="col-sm-10">
									<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5">
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-2">连接地址:</label>

								<div class="col-sm-10">
									<input type="text" id="form-field-2" placeholder="" class="col-xs-10 col-sm-5">
									<span class="help-inline col-xs-12 col-sm-7">
										<span class="middle">如果填写则跳转到外部地址（选填）</span>
									</span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-2">所属分类:</label>

								<div class="col-sm-10">
									<select name="cate_id" id="cate_id" style="width:200px;">
										
										
										<option value="0">--请选择分类--</option>
										
										<option value="12">express常见模块</option>
										
										<option value="11">Express视频教程</option>
										
										<option value="10">nodejs资讯</option>
										
										
										
									</select>
									
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">内容来源:</label>

								<div class="col-sm-10">
									<input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5">
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">图片:</label>

								<div class="col-sm-10">
									<input type="file" class="col-xs-10 col-sm-5">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">摘要简介 :</label>

								<div class="col-sm-10">
									<input type="file" class="col-xs-10 col-sm-5">
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">详细内容  :</label>

								<div class="col-sm-10">
									<div class="wysiwyg-editor" id="editor1"></div>

								</div>
							</div>
							
							
						</form>

					</div>
				</div><!-- /.main-content -->
			
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- footer -->
		{{include 'admin/public/footer.html'}}

		
</body>
</html>

