

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{__HOST__}}/admin/js/jquery-2.0.3.min.js'>"+"<"+"script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='{{__HOST__}}/admin/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='{{__HOST__}}/admin/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
		</script>
		<script src="{{__HOST__}}/admin/js/bootstrap.min.js"></script>
	

		<!-- ace scripts -->

		<script src="{{__HOST__}}/admin/js/ace-elements.min.js"></script>
		<script src="{{__HOST__}}/admin/js/ace.min.js"></script>
		<script src="{{__HOST__}}/admin/basic.js"></script>