<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>控制台 - Bootstrap后台管理系统</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="{{__HOST__}}/admin/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="{{__HOST__}}/admin/css/font-awesome.min.css" />
		<link rel="stylesheet" href="{{__HOST__}}/admin/css/basic.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="{{__HOST__}}/admin/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

		<!-- ace styles -->

		<link rel="stylesheet" href="{{__HOST__}}/admin/css/ace.min.css" />
		<link rel="stylesheet" href="{{__HOST__}}/admin/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="{{__HOST__}}/admin/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="{{__HOST__}}/admin/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="{{__HOST__}}/admin/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="{{__HOST__}}/admin/js/html5shiv.js"></script>
		<script src="{{__HOST__}}/admin/js/respond.min.js"></script>
		<![endif]-->
	</head>
	<style>
		textarea{outline:none;resize:none;}
	</style>