<div id="header-wrapper">
    <div class="header-inner">
        <div class="logo">
            <h1>
                <a href="#" title="欢迎来到Koa Cms项目实战">Koa Cms项目实战</a>
            </h1>
        </div>
        <div class="nav">
            <ul class="clear">
                <li>
                    <a href="/" class="active">网站首页</a>
                </li>

                <li>
                    <a href="/service">开发服务</a>
                </li>


                <li>
                    <a href="/case">成功案例</a>
                </li>
                <li>
                    <a href="/news">新闻资讯</a>
                </li>
                <li>
                    <a href="/about">关于我们</a>
                </li>
                <li>
                    <a href="/connect">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</div>